html {
    font-size: 1px;
    background-color: black;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}

h3 {
    color: rgb(32, 60, 219);
}